
/* 
========================================== 
Resolution max 360px
========================================== 
*/



@media all and (max-width:420px){
    
    .menu-rol-list{
        margin-right: 50px;
        transition-duration:0.5s; 
    }
    
    .title-container{
        line-height: 10px;
    }
    
    
    
    
    .h1{
        font-size: 240%;
        line-height: 30px;
        transition-duration:0.5s;
        
    } 
    
    .h2{
        font-size: 200%;
        transition-duration:0.5s;
        line-height: 30px;
    }
    
    .h3{
        font-size: 100%;
        transition-duration:0.5s;
        line-height: 20px;
    }
    
    
    /* 
========================================== 
INFO CONTAINER 
========================================== 
*/

    .info-container{
        margin-top:30px;
        
    }


    .info-box{
        color:white;
        width:90%;
    
    }
    
    .bold{
       line-height: 30px;     
    }
    
    
}